.flex {
  display: flex;
}
.center {
  display: flex;
  justify-content: center;
}
.width {
  width: 100%;
}
.orange {
  color: orange;
}
.center-text {
  text-align: center;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  background-color: white;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Roboto Slab', serif;
  vertical-align: baseline;
}
html {
  width: 65%;
  max-width: 2000px;
  margin: auto;
}
@media (max-width:500px) {
  html {
    width: 100%;
  }
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
header {
  display: flex;
  justify-content: flex-start;
  border-bottom: 3px dashed #1b1b1b;
}
@media (max-width:500px) {
  header {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
header h2 {
  display: flex;
}
@media (max-width:500px) {
  header h2 {
    display: flex;
    justify-content: center;
  }
}
header h2 a {
  background-color: orange;
  color: white;
  text-decoration: underline;
  font-size: 4rem;
}
@media (max-width:500px) {
  header h2 a {
    background-color: white;
    color: orange;
    text-decoration: none;
    text-align: center;
  }
}
header h2 a:hover {
  transition: 0.5s ease-in-out;
  color: orange;
  background-color: white;
}
header nav {
  margin: auto;
}
@media (max-width:500px) {
  header nav {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
header a {
  font-size: 1.8rem;
  color: purple;
  text-decoration: none;
  padding: 3rem;
}
@media (max-width:500px) {
  header a {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
  }
}
header a:hover {
  transition: 0.2s ease-in-out;
  color: #b846b8;
}
.team {
  display: flex;
  flex-direction: column;
}
.team h1 {
  font-size: 3rem;
  color: orange;
  text-align: center;
  padding: 5rem;
}
@media (max-width:500px) {
  .team h1 {
    text-align: center;
    font-size: 2rem;
  }
}
.team h2 {
  color: #1b1b1b;
  font-size: 1.8rem;
  text-align: center;
  padding: 0.5rem;
}
.team h3 {
  color: orange;
  font-size: 1.4rem;
  text-align: center;
  padding: 0.5rem;
}
.team p {
  color: #646464;
  font-size: 1.2rem;
  text-align: center;
  padding: 0.5rem;
  margin: auto;
}
.team img {
  border-radius: 0.2rem;
  margin: auto;
}
.team .pl {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 2rem;
}
@media (max-width:500px) {
  .team .pl {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
.team .pl .patrick {
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media (max-width:500px) {
  .team .pl .patrick {
    width: 100%;
  }
}
.team .pl .patrick img {
  width: 70%;
}
.team .front {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media (max-width:500px) {
  .team .front {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
.team .front .bobby {
  width: 30%;
  display: flex;
  flex-direction: column;
}
@media (max-width:500px) {
  .team .front .bobby {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.team .front .bobby img {
  width: 100%;
}
@media (max-width:500px) {
  .team .front .bobby img {
    width: 75%;
  }
}
.team .front .kate {
  width: 30%;
  display: flex;
  flex-direction: column;
}
@media (max-width:500px) {
  .team .front .kate {
    width: 100%;
  }
}
.team .front .kate img {
  width: 100%;
}
@media (max-width:500px) {
  .team .front .kate img {
    width: 75%;
  }
}
.team .front .liam {
  width: 30%;
  display: flex;
  flex-direction: column;
}
@media (max-width:500px) {
  .team .front .liam {
    width: 100%;
  }
}
.team .front .liam img {
  width: 100%;
}
@media (max-width:500px) {
  .team .front .liam img {
    width: 75%;
  }
}
.team .back {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}
@media (max-width:500px) {
  .team .back {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
.team .back .steven {
  width: 30%;
  display: flex;
  flex-direction: column;
}
@media (max-width:500px) {
  .team .back .steven {
    width: 100%;
  }
}
.team .back .steven img {
  width: 100%;
  margin: auto;
}
@media (max-width:500px) {
  .team .back .steven img {
    width: 75%;
  }
}
.team .back .chris {
  width: 30%;
  display: flex;
  flex-direction: column;
}
@media (max-width:500px) {
  .team .back .chris {
    width: 100%;
  }
}
.team .back .chris img {
  width: 90%;
  margin: auto;
}
@media (max-width:500px) {
  .team .back .chris img {
    width: 75%;
  }
}
.team .back .christian {
  width: 30%;
  display: flex;
  flex-direction: column;
}
@media (max-width:500px) {
  .team .back .christian {
    width: 100%;
  }
}
.team .back .christian img {
  width: 100%;
  margin: auto;
}
@media (max-width:500px) {
  .team .back .christian img {
    width: 75%;
  }
}
.top-container .img1 {
  width: 100%;
}
.top-container h1 {
  width: 25%;
  display: flex;
  justify-content: center;
  margin: auto;
  font-size: 5rem;
  padding: 2rem;
  text-decoration: underline orange;
}
@media (max-width:500px) {
  .top-container h1 {
    font-size: 4rem;
  }
}
.top-container p {
  line-height: 1.7;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}
@media (max-width:500px) {
  .top-container p {
    font-size: 1.4rem;
  }
}
.top-container p span {
  color: orange;
}
.top-container .btn {
  display: flex;
  justify-content: center;
}
.top-container .btn button {
  background-color: orange;
  border-radius: 5px;
  width: 20%;
  padding: 5px;
  margin-bottom: 4rem;
}
@media (max-width:500px) {
  .top-container .btn button {
    border-radius: 2px;
    width: 40%;
    padding: 3%;
    background-color: white;
    box-shadow: 3px 3px 3px #1b1b1b;
  }
}
.top-container .btn button a {
  background-color: orange;
  color: purple;
  font-size: 1.2rem;
  text-decoration: none;
}
@media (max-width:500px) {
  .top-container .btn button a {
    font-size: 1.4rem;
    background-color: white;
    color: orange;
    text-decoration: underline;
  }
}
.top-container .btn button a:hover {
  text-decoration: underline;
  color: #b846b8;
}
.bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 1.5rem;
}
@media (max-width:500px) {
  .bottom-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
.bottom-container p {
  line-height: 1.5;
  text-align: center;
}
.bottom-container .drill {
  width: 31%;
}
.bottom-container .drill img {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 18rem;
}
@media (max-width:500px) {
  .bottom-container .drill img {
    width: 75%;
    margin: 1rem 3.5rem;
  }
}
@media (max-width:500px) {
  .bottom-container .drill {
    width: 100%;
  }
}
.bottom-container .cooking {
  width: 31%;
}
.bottom-container .cooking img {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 18rem;
}
@media (max-width:500px) {
  .bottom-container .cooking img {
    width: 75%;
    margin: 1rem 3.5rem;
  }
}
@media (max-width:500px) {
  .bottom-container .cooking {
    width: 100%;
  }
}
.bottom-container .clean {
  width: 31%;
}
.bottom-container .clean img {
  margin-bottom: 1.5rem;
  width: 100%;
  height: 18rem;
}
@media (max-width:500px) {
  .bottom-container .clean img {
    width: 75%;
    margin: 1rem 3.5rem;
  }
}
@media (max-width:500px) {
  .bottom-container .clean {
    width: 100%;
  }
}
.contact {
  display: flex;
  flex-direction: row;
  margin-bottom: 4rem;
}
@media (max-width:500px) {
  .contact {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
  }
}
.contact .banner {
  font-size: 5rem;
  margin: auto;
  line-height: 5.8rem;
}
@media (max-width:500px) {
  .contact .banner {
    text-align: center;
  }
}
.contact .banner span {
  color: orange;
}
.contact .banner:hover {
  transition: 0.1s ease-in-out;
  color: orange;
}
.contact .banner:hover span {
  color: #1b1b1b;
}
.contact .container {
  width: 100%;
  border-radius: 0.2rem;
  padding: 20px;
  display: flex;
  margin-top: 4rem;
}
@media (max-width:500px) {
  .contact .container {
    width: 80%;
  }
}
.contact .container input[type=text],
.contact .container select,
.contact .container textarea {
  width: 100%;
  padding: 1.2rem;
  border: 0.05rem solid orange;
  border-radius: 0.4rem;
  box-sizing: border-box;
  resize: vertical;
}
@media (max-width:500px) {
  .contact .container input[type=text],
  .contact .container select,
  .contact .container textarea {
    width: 110%;
  }
}
.contact .container label {
  padding: 0.5rem;
  display: inline-block;
}
.contact .container .col-25 {
  width: 125%;
  margin-top: 6px;
}
.contact .container .col-75 {
  width: 175%;
  margin-top: 6px;
}
footer {
  display: flex;
  justify-content: center;
  padding: 4rem;
  font-size: 1.2rem;
  background-color: orange;
  border-top: 3px dashed #1b1b1b;
}
footer h6 {
  background-color: orange;
}
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotoslab/v11/BngbUXZYTXPIvIBgJJSb6s3BzlRRfKOFbvjojISWaA.ttf) format('truetype');
}
