.team{
    .flex;
    flex-direction: column;
    h1{
        font-size: 3rem;
        .orange;
        .center-text;
        padding:5rem;
        @media @mobile{
            .center-text;
            font-size: 2rem;
        }
    }//end of h1
    h2{
        color:@darkgray;
        font-size:1.8rem;
        .center-text;
        padding:.5rem;
    }//end of h2
    h3{
        color:orange;
        font-size:1.4rem;
        .center-text;
        padding:.5rem;
    }//end of h3
    p{
        color:rgb(100, 100, 100);
        font-size: 1.2rem;
        .center-text;
        padding:.5rem;
        margin:auto;
    }//end of p
    img{
        border-radius: .2rem;
        margin:auto;
    }//end of img
    .pl{
        .center;
        flex-direction: row;
        margin-bottom: 2rem;;
        @media @mobile{
            .center;
            flex-direction: column;
        }//end of .pl mobile
        .patrick{
            width:50%;
            .flex;
            flex-direction: column;
            .center-text;
            @media @mobile{
                .width;
            }//end of .patrick
            img{
                width:70%;
            }//end of img
        }//end of .patrick
    }//end of pl
    .front{
        .width;
        .flex;
        flex-direction: row;
        justify-content: space-evenly;
        @media @mobile{
            .center;
            flex-direction:column;
        }//end of mobile
        .bobby{
            width:30%;
            .flex;
            flex-direction: column;
            @media @mobile{
                .width;
                .center;
            }//end of .bobby mobile
            img{
                .width;
                @media @mobile{
                    width:75%;
                }//end of .bobby img mobile
            }//end of .bobby img
        }//end of .bobby
        .kate{
            width:30%;
            .flex;
            flex-direction:column;
            @media @mobile{
                .width;
            }//end of mobile
            img{
                .width;
                @media @mobile{
                    width:75%;
                }//end of img .kate
            }//end of img .kate
        }//end of .kate
        .liam{
            width:30%;
            .flex;
            flex-direction:column;
            @media @mobile{
                .width;
            }//end of mobile
            img{
                .width;
                @media @mobile{
                    width:75%;
                }//end of mobile
            }//end of img
        }//end of .liam
    }//end of .front
    .back{
        .width;
        .flex;
        flex-direction:row;
        justify-content: space-evenly;
        margin-bottom: 2rem;
        @media @mobile{
            .center;
            flex-direction: column;
        }//end of mobile
        .steven{
            width:30%;
            .flex;
            flex-direction: column;
            @media @mobile{
                .width;
            }//end of mobile
            img{
                .width;
                margin:auto;
                @media @mobile{
                    width:75%;
                }//end of img media
            }//end of .steven img
        }//end .steven
        .chris{
            width:30%;
            .flex;
            flex-direction:column;
            @media @mobile{
                .width;
            }//end of media 
            img{
                width:90%;
                margin:auto;
                @media @mobile{
                    width:75%;
                }//end of media
            }//end of img
        }//end of .chris
        .christian{
            width:30%;
            .flex;
            flex-direction:column;
            @media @mobile{
                .width;
            }//end of media
            img{
                .width;
                margin: auto;
                @media @mobile{
                    width:75%;
                }//end of media
            }//end of img
        }//end of .christian
    }//end of .back
}//end of .team