header{
    display:flex;
    justify-content:flex-start;
    @media @mobile{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }//end of header media
    h2{
        display:flex;
        @media @mobile{
            display:flex;
            justify-content: center;
        }//end of h2 media
        a{
            background-color:orange;
            color:white;
            text-decoration:underline;
            font-size:4rem;
            @media @mobile{
                background-color: white;
                color:orange;
                text-decoration: none;
                text-align: center;
            }//end of a links media
        }//end of H2-a links    
    }//end of H2
    nav{
        margin: auto;
        @media @mobile{
            display:flex;
            flex-direction: column;
            justify-content: center;
        }//end of nav media
    }//end of nav
    a{
        font-size: 1.8rem;
        color:purple;
        text-decoration: none;
        padding: 3rem;
        @media @mobile{
            font-size: 1.5rem;
            text-align: center;
            padding:1rem;
        }//end of nav a links media
    }//end of a links
}//end of header
.contact{
    display:flex;
    flex-direction: row;
    margin-top:6rem;
    margin-bottom:6rem;
        @media @mobile{
            display:flex;
            flex-direction: column;
        }//end of .contact mobile
        .contact-form{
            text-align: center;
            box-sizing: border-box;
            display:flex;
            flex-direction: column;
            justify-content: center;
            width:80%;
            .text{
                width:100%;
                margin:.5rem;
                input{
                    width:50%;
                    padding:.3rem;
                }
                textarea{
                    width:60%;
                }
                label{
                    display:block;
                    text-align:center;
                }
            }
            .button{
                display:flex;
                justify-content: center;
                .btn{
                    background:orange;
                    padding:1rem 0;
                    width:40%;
                }
            }
        }
        .banner{
            font-size: 5rem;
            line-height:5.8rem;
            padding:1rem;
            @media @mobile{
                text-align: center;
            }
            span{
                color:orange;
            }
        }
}