footer{
    .center;
    padding:4rem;
    font-size:1.2rem;
    background-color: orange;
    border-top:3px dashed @darkgray;
    h6{
        background-color: orange;
    }//end of h6
}//end of footer