.top-container{
    .img1{
        width:100%;
    }//end of img1
    h1{
        .center;
        font-size:6rem;
        padding:2rem;
        @media @mobile{
            font-size: 4rem;
        }//end of h1 media
    }//end of h1
    p{
        line-height:1.5;
        font-size: 1.6rem;
        .center-text;
        text-transform: lowercase;
        margin-bottom:4rem;
        @media @mobile{
            font-size: 1.4rem;
        }//end of p media
    }//end of p
    .btn{
        .center;
        button{
            background-color: orange;
            border-radius:5px;
            width:20%;
            padding:5px;
            margin-bottom:4rem;
            @media @mobile{
                border-radius: 2px;
                width:40%;
                padding:3%;
                background-color:white;
                box-shadow: 3px 3px 3px @darkgray
            }//end of button media
            a{
                background-color: orange;
                color:purple;
                font-size:1.2rem;
                text-decoration: none;
                @media @mobile{
                    font-size:1.4rem;
                    background-color:white;
                    .orange;
                    text-decoration: underline;
                }//end of a links mobile
                &:hover{
                    text-decoration: underline;
                    color:rgb(184, 70, 184);  
                }
            }//end of button a links
        }//end of btn-button
    }//end of btn
}//end of .top-container
.bottom-container{
    .flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom:1.5rem;
    @media @mobile{
        .center;
        flex-direction: column;
    }
    p{
        line-height: 1.5;
        .center-text;
    }//end of p
    .drill{
        img{
            margin-bottom: 1.5rem;
            .width;
            height:18rem;
            @media @mobile{
                width:75%;
                margin:1rem 3.5rem;

            }//end of drill img mobile
        }//end of drill-img
        width:31%;
        @media @mobile{
            .width;
        }//end of drill media
    }//end of drill
    .cooking{
        img{
            margin-bottom:1.5rem;
            .width;
            height:18rem;
            @media @mobile{
                width:75%;
                margin: 1rem 3.5rem;
            }//end of cooking img mobile
        }//end of cooking-img
        width:31%;
        @media @mobile{
            .width;
        }
    }//end of cooking
    .clean{
        img{
            margin-bottom:1.5rem;
            .width;
            height:18rem;
            @media @mobile{
                width:75%;
                margin:1rem 3.5rem;
            }//end of .clean img mobile
        }//end of .clean-img
        width:31%;
        @media @mobile{
            .width;
        }//end of .clean mobile
    }//end of .clean
}//end of .bottom-container