.flex{
    display:flex;
}
.center{
    display:flex;
    justify-content: center;
}//end of .center
.width{
    width:100%;
}//end of .width
.orange{
    color:orange;
}
.bgorange{
    background-color:orange;
}

.gray{
    background-color:@darkgray;
}
.center-text{
    text-align:center;
}
.margin{
    margin:auto;
}

