header{
    background-color:white;
    display:flex;
    justify-content: space-evenly;
    h2{
        display:flex;
        a{
            font-size:3rem;
        }//end of H2-a links
    }//end of H2
    nav{
        margin-top: auto;
    }//end of nav
    a{
        font-size: 2rem;
        text-decoration: none;
        padding: 3rem;
    }//end of a links
}//end of header