header{
    .flex;
    justify-content:flex-start;
    border-bottom:3px dashed @darkgray;
    @media @mobile{
        .center;
        flex-direction: column;
    }//end of header media
    h2{
        .flex;
        @media @mobile{
            .center;
        }//end of h2 media
        a{
            background-color: orange;
            color:white;
            text-decoration:underline;
            font-size:4rem;
            @media @mobile{
                background-color: white;
                color:orange;
                text-decoration: none;
                .center-text;
            }//end of a links media
            &:hover{
                transition:0.5s ease-in-out;
                .orange;
                background-color:white;
            }
        }//end of H2-a links
    }//end of H2
    nav{
        margin: auto;
        @media @mobile{
            .center;
            flex-direction: column;
        }//end of nav media
    }//end of nav
    a{
        font-size: 1.8rem;
        color:purple;
        text-decoration: none;
        padding: 3rem;
        @media @mobile{
            font-size: 1.5rem;
            .center-text;
            padding:1rem;
        }//end of nav a links media
        &:hover{
            transition:.2s ease-in-out;
            color:rgb(184, 70, 184);
        }
    }//end of a links
}//end of header